<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="css/yemian.css">
</head>
<body>
	<div class="header">
		<div class="headerzhi">登录或创建一个新帐户 🌟</div>
	</div>
	<div class="xuanxiang">
		<ul class="xuancar">
			<li class="actives">登录</li>
			<li>注册</li>
			<li>关于星享俱乐部</li>
		</ul>
	</div>
	<div class="cardsneir">
		<div class="denglude">
			<div class="boxs">
				<div class="forms">
					<input type="text" name="" value=""/> <span class="zhanghao">用户名或者电子邮箱</span>
					<input type="password" name="" value=""/><span class="mima">密码</span>
				</div>
				<div class="xuanzhon">
					<label class="shu"><input type="checkbox" class="xuans"/>下自动登录</label>
					<span class="wang">忘记密码?</span>
				</div>
				<div class="hua">
					<div id="slideBar"></div>
					<div class="tiao"></div>
				</div>
				<button class="btns">登录</button>
			</div>
		</div>
		<div class="zhuchede">
			<div class="zhubox">
				<h2><span>使用星巴克App进行注册</span></h2>
				<p class="zhi">
				   <span>现在就下载</span>
				   <span>星巴克App</span>
				   <span>便可直接用手机进行<br>注册、支付、查看消费记录及管理卡片。</span>
				</p>
				<div class="tu">
					<img src="img/register-download-app-image-cn-2020-06-02.png"/>
				</div>
				<div class="tubtn">
					<img src="img/udp-starbucks-cn.png"/>
				</div>
			</div>
		</div>
		<div class="julebu"></div>
	</div>
	<div class="ifra">
		<iframe src="footer.html" frameborder="0" scrolling="no"></iframe>
	</div>
	<script type="text/javascript" src="js/deng.js"></script>
</body>
</html>