<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div class="header">
		<div class="headerzhi">登录或创建一个新帐户 🌟</div>
	</div>
	<div class="xuanxiang">
		<ul class="xuancar">
			<li class="actives">登录</li>
			<li>注册</li>
			<li>关于星享俱乐部</li>
		</ul>
	</div>
	<div class="cardsneir">
		<div class="denglude">
			<div class="boxs">
				<div class="forms">
					<input type="text" name="" value="" /> <span class="zhanghao">用户名或者电子邮箱</span>
					<input type="password" name="" value="" /><span class="mima">密码</span>
				</div>
				<div class="xuanzhon">
					<label class="shu"><input type="checkbox" class="xuans" />下自动登录</label>
					<span class="wang">忘记密码?</span>
				</div>
				<div class="hua">
					<div id="slideBar"></div>
					<div class="tiao"></div>
				</div>
				<!-- <div class="provingJoin">
					<div class="proving">
						<div class="provingHeader1">
							<span>拖动下方滑块完成拼图</span>
							<img src="../../../public/images/account_3.png">
							<img src="../../../public/images/account_4.png">
						</div>
						<p class="provingHeader2">验证错误，请重试</p>
						<img src="../../../public/images/account_1.png" class="provingrAticle">
						<img src="../../../public/images/account_5.png" class="imgSlider">
						<div class="bar"></div>
						<div class="Slider">| | |</div>
					</div>
					<div class="proving2"><span class="iconfont">&#xec9e;</span>已验证</div>
					<div class="join">登录</div>
				</div> -->
				<button class="btns">登录</button>
			</div>
		</div>
		<div class="zhuchede">
			<div class="zhubox">
				<h2><span>使用星巴克App进行注册</span></h2>
				<p class="zhi">
					<span>现在就下载</span>
					<span>星巴克App</span>
					<span>便可直接用手机进行<br>注册、支付、查看消费记录及管理卡片。</span>
				</p>
				<div class="tu">
					<img
						src="https://www.starbucks.com.cn/assets/images/account/register-download-app-image-cn-2020-06-02.png" />
				</div>
				<div class="tubtn">
					<img src="https://www.starbucks.com.cn/images/udp-starbucks-cn.png" />
				</div>
			</div>
		</div>
		<div class="julebu"></div>
	</div>
	<footer>
		<!-- 底部 -->
		<ul class="footed"></ul>
	</footer>
</body>

</html>