<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>footer</title>
		<style>
			ul li {
				list-style: none;
			}

			* {
				margin: 0;
				padding: 0;
			}

			a {
				text-decoration: none;
				color: #000;
			}

			footer .footed {
				width: 100.000vw;
				height: 14.000vw;
				display: flex;
				align-items: center;
				background-color: #fff;
				justify-content: space-around;
				position: fixed;
				bottom: 0;
				margin: 0 auto;
			}

			footer .footed li {
				display: flex;
			}

			footer .footed li a {
				text-align: center;
			}
		</style>
	</head>
	<body>
		<footer>
			<!-- 底部 -->
			<ul class="footed"></ul>
		</footer>
		<script>
			let footed = document.querySelector('.footed')
			let footArr = [{
					href: '../home/home.html',
					src1: 'https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home.svg',
					src2: 'https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home-active.svg',
					title: '主页'
				},
				{
					href: '../store/store.html',
					src1: 'https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-stores.svg',
					src2: 'https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-stores-active.svg',
					title: '门店'
				},
				{
					href: '../account/account.html',
					src1: 'https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-account.svg',
					src2: 'https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-account-active.svg',
					title: '我的账户'
				},
				{
					href: '../menu/menu.html',
					src1: 'https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-menu.svg',
					src2: 'https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-menu-active.svg',
					title: '菜单'
				},
				{
					href: '../more/more.html',
					src1: 'https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-more.svg',
					src2: 'https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-more-active.svg',
					title: '更多'
				}
			]
			footRender(footArr, footed)

			function footRender(arr, parentNode) {
				for (let i = 0; i < arr.length; i++) {
					let liNode = document.createElement('li');
					liNode.innerHTML = `
                                        <a href="${arr[i].href}" id="footClick">
                                            <span class="icons">
                                                <img src="${arr[i].src1}">
                                            </span>
                                            <div id="account-mobile"><span class="">${arr[i].title}</span></div>
                                        </a>
                                        `
					parentNode.appendChild(liNode)
				}
			}
		</script>
	</body>
</html>