@import "//cdn.suoluomei.com/common/js2.0/vant/v2.12/index.css";
* {
  margin: 0;
  padding: 0;
}
#app {
  height: 100vh;
}
#app .Search {
  padding: 16px 16px 8px;
}
#app .Search .Search_top {
  display: flex;
  align-items: center;
}
#app .Search .Search_top span {
  margin: 0 5px;
}
#app #Map {
  height: 40%;
}
#app .list {
  width: 100%;
  display: inline-block;
  font-size: 0.8vw;
}
#app .list li {
  font-size: 1.1rem;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
}
#app .list li .list_right {
  width: 15%;
}
#app .list li .list_right .img1 {
  width: 4vw;
  height: 4vw;
  display: inline-block;
}
#app .list li .list_center {
  width: 70%;
}
#app .list li .list_center p {
  font-size: 0.8vw;
  display: inline-block;
}
#app .list li .list_center .img2 {
  margin-left: 4px;
  width: 40px;
  vertical-align: middle;
}
#app .list li .list_center .ziti {
  color: rgba(0, 0, 0, 0.56);
  font-weight: normal;
  display: block;
  margin-top: 4px;
  font-size: 0.6vw;
}
#app .list li .list_center span {
  font-size: 0.7vw;
  color: black;
}
#app .list li .list_left {
  width: 15%;
  position: relative;
}
#app .list li .list_left span {
  position: absolute;
  left: 3vw;
  bottom: 4vw;
  font-size: 0.6vw;
}
#app .list li .list_left .img3 {
  width: 8vw;
  height: 8vw;
  text-align: center;
}
#app .button {
  bottom: 0px;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
}
#app .button ul {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);
  display: flex;
  margin: 0;
  width: 100%;
  padding: 0 6px;
}
#app .button ul li {
  position: relative;
  margin: 0px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  width: 20%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#app .button ul li .color {
  color: #00A862;
}
#app .button ul li a {
  box-sizing: border-box;
  display: block;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.56);
  line-height: 1;
  padding: 6px 4px;
}
#app .button ul li a div {
  margin-top: 4px;
  display: block;
}
#app .button ul li a span {
  display: block;
  height: 28px;
  margin-bottom: 3px;
  pointer-events: none;
  position: relative;
  width: 100%;
  line-height: 28px;
}
