<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">   
  <!-- <link rel="stylesheet" href="home.css"> -->
</head>

<body>
  <!-- 头部 -->
  <nav>
    <h2>心情惬意，来杯咖啡吧 ☕</h2>
  </nav>

  <!-- 轮播 -->
  <section>
    <div class="swiper">
      <div class="swiper-wrapper">
          <div class="swiper-slide"><img src="https://artwork.starbucks.com.cn/banners-homepage-banner/main_7fc4f760-6926-4eeb-9304-06581dd9a737.jpg" alt=""></div>
          <div class="swiper-slide"><img src="https://artwork.starbucks.com.cn/banners-homepage-banner/main_b9426020-8329-432e-b95e-b3e81cb33401.jpg" alt=""></div>
          <div class="swiper-slide"><img src="https://artwork.starbucks.com.cn/banners-homepage-banner/main_feb2427d-ca7e-42db-a34e-9ff635006ce3.png" alt=""></div>
      </div>
  
      <div class="swiper-button-next"></div>
    </div>
  </section>
  
  <!-- 主体内容 -->
  <section class="content">
    <div class="wrapper">
      <a href="">
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/images/pages/tmall-2020-06-29-zh.jpg" alt="">
      </a>
      <a href="">
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/images/pages/starbucks-design-studio-web-china.jpg" alt="">
      </a>
      <a href="">
        <img src="https://www-static.chinacdn.starbucks.com.cn/prod/images/pages/homepage-career-new.png" alt="">
      </a>
    </div>
  </section>

  <section class="club">
    <div class="club-text">
      <h2>星享俱乐部</h2>
      <p class="understand">
        开启您的星享之旅，星星越多、会员等级越高、好礼越丰富。
        <a href="">了解更多 ›</a>
      </p>
      <p class="account">
        <a href="">注册</a>
        <a href="">登录</a>
      </p>
    </div>
    <div class="images">
      <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/logo-msr-20210601.svg" alt="">
    </div>
  </section>

  <section class="selected">
    <div class="selected-text">
      <h2>星巴克精选</h2>
      <p>在星巴克天猫旗舰店发现更多咖啡心意</p>
      <ul>
        <li>
          <a href="">
            <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/tmall-card-01-update.png" alt="">
            <p class="title-1">
              <strong>会员星礼包</strong>
            </p>
            <p class="margin">
              星享卡新升级<br>
              更多心意好礼
            </p>
            <p class="caption">了解更多 ›</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/tmall-card-02.png" alt="">
            <p class="title-1">
              <strong>星礼卡</strong>
            </p>
            <p class="margin">
              用一份心礼<br>
              让心意相随
            </p>
            <p class="caption">了解更多 ›</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/tmall-eticket.png" alt="">
            <p class="title-1">
              <strong>电子产品券</strong>
            </p>
            <p class="margin">
              心意<br>
              从这一杯开始
            </p>
            <p class="caption">了解更多 ›</p>
          </a>
        </li>
        <li>
          <a href="">
            <img src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/homepage/tmall-reserve.png" alt="">
            <p class="title-1">
              <strong>咖啡生活</strong>
            </p>
            <p class="margin">
              星巴克<br>
              用心制作
            </p>
            <p class="caption">了解更多 ›</p>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="hall">
    <div class="hall-text">
      <h2>1912 派克街 | 咖啡星讲堂</h2>
      <p>了解更多星巴克咖啡文化</p>
    </div>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide one">
          <span class="tag">咖啡知识</span>
          <strong class="st">咖啡的起源与培植</strong>
        </div>
        <div class="swiper-slide two">
          <span class="tag">咖啡品鉴</span>
          <strong class="st">咖啡调制</strong>
        </div>
        <div class="swiper-slide three">
          <span class="tag">咖啡知识</span>
          <strong class="st">咖啡烘焙</strong>
        </div>
        <div class="swiper-slide four">
          <span class="tag">咖啡品鉴</span>
          <strong class="st">手冲咖啡</strong>
        </div>
      </div>
      <div class="swiper-button-prev btn"></div>
      <div class="swiper-button-next btn"></div>
      
    </div>
    
  </section>

  <section class="foot">
    <img width="10" height="10" src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/images/icpicon.png" alt="">
    沪公网安备 31010402000253号
    |
    沪ICP备17003747号-1
  </section>

  <div class="button">
    <ul class="list">
        <li>
            <a href="#" class="color">
              <img class="iconfont" src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home.svg" alt="">
                <div>主页</div>
            </a>
        </li>
        <li>
            <a href="store.html">
              <img class="iconfont" src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-home.svg" alt="">
                <div>门店</div>
            </a>
        </li>
        <li>
            <a href="account.html">
              <img class="iconfont" src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-account.svg" alt="">
                <div>我的账户</div>
            </a>  
        </li>
        <li>
            <a href="menu.html">
              <img class="iconfont" src="https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-menu.svg" alt="">
                <div>菜单</div>
            </a>
        </li>
        <li>
            <a href="more.html">
              <img class="iconfont" src="	https://www-static.chinacdn.starbucks.com.cn/prod/assets/icons/icon-more.svg" alt="">
                <div>更多</div>
            </a>
        </li>
    </ul>
</div>




  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"> </script>
  <!-- <script type="module" src="./home.js"></script> -->


</body>


</html>